/*======= Carousel Styling ======== */

.carousel-inner > .item > img {
    display: block;
    width: 100%;
    height: auto;
  }

/*======= Sign up ==========*/

label {
    font-weight: normal;
}

.page-header {
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}

/*======= Login =========*/

button[type="reset"] {
    margin-right: 10px !important;
}

/*======= Logout ========*/

form#logout {
    float: right;
    margin-top: 7px;
}

form#logout > button {
    background: none;
    border: none;
    color: #9d9d9d;
}

form#logout > button:hover {
    color: #fff;
}