body {
    margin: 0;
    padding: 0;
    color: #808080;
}

h4 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.container {
    margin-top: 20px;
}

.navbar {
    margin-bottom: 0px;
}

.pull-left {
    padding-left: 15px;
    padding-top: 15px;
}
/*======= Carousel Styling ======== */

.carousel-inner > .item > img {
    display: block;
    width: 100%;
    height: auto;
  }

/*======= Sign up ==========*/

label {
    font-weight: normal;
}

.page-header {
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}

/*======= Login =========*/

button[type="reset"] {
    margin-right: 10px !important;
}

/*======= Logout ========*/

form#logout {
    float: right;
    margin-top: 7px;
}

form#logout > button {
    background: none;
    border: none;
    color: #9d9d9d;
}

form#logout > button:hover {
    color: #fff;
}

/*======= about ========*/

.section {
    margin-bottom: 10px;
}

.content {
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

/*======== contact =========*/

.container-fluid, .container-fluid > row, .container-fluid > row > .col-md-12 {
    margin: 0 !important;
    padding: 0 !important;
}

form#contact {
    margin-top: 50px !important;
    margin-bottom: 30px !important;
}

form#contact:after {
    content: "";
    display: block;
    clear: both;
}

.pull-right {
    margin-right: 15px;
}